<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Football Prediction</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body {
                position: relative;
            }
            #welcome {padding-top:50px;height:500px;color: #ffffff; background-color: #35065E;}
            #lookup {padding-top:50px;height:500px;color: #ffffff; background-color: #DA0E3C;}
            #predict {padding-top:50px;height:500px;color: #ffffff; background-color: #35065E;}        
        </style>
        
        <title>Premier League Predictor</title>
    </head>
    
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                    
                    </button>
                    <a class="navbar-brand" href="#">Premier League Predictor</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#welcome">Welcome</a></li>
                        <li><a href="#lookup">Lookup</a></li>
                        <li><a href="#predict">Predict</a></li>                        
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="welcome" class="container-fluid">
            {% block welcome %}{% endblock %}
        </div>
        
        <div id="lookup" class="container-fluid">
            {% block lookup %}{% endblock %}
        </div>
        
        <div id="predict" class="container-fluid">
            {% block predict %}{% endblock %}
        </div>
    </body>
</html>