{% extends "layout.html" %}

{% block welcome %}
<div align="center">
    <h1><b>Welcome</b></h1>
</div>

<div align="center">
    <h3>
        In this webpage we aim to create a user friendly interface for predicting football results using statistical methods. Currently, the model used is a basic idea
        which compares the attacking and defensive strength of teams and uses a Poisson distribution to calculate the most likely result. At this time, this interface
        will only calculate matches between Premier League teams from the 2016/2017 season. The webpage can also be used to look up the data used in the prediction for any given team.
    </h3>
</div>
{% endblock %}

{% block lookup %}
<div align="center">
    <h1>
        <b>Look Up</b>
    </h1>
</div>

{% endblock %}

{% block predict %}
<div align="center">
    <h1>
        <b>Predict</b>
    </h1>
</div>
{% endblock %}




